.about {
  padding: 60px 0 100px;
  background-color: $color-white-light;

  @include vp-1919 {
    padding: 36px 0 80px;
  }

  @include vp-769 {
    padding: 26px 0 77px;
  }
}

.about__container {
  max-width: 1320px;
  padding-left: 300px;
  padding-bottom: 20px;
  background-image: url("../img/about-year.webp");
  background-repeat: no-repeat;
  background-size: contain;

  @include retina {
    background-image: url("../img/about-year@2x.webp");
  }

  background-position: 52px 2px;

  @include vp-1919 {
    background-size: 150px 320px;
    margin-bottom: 0;
    padding-left: 226px;
    background-position: 52px 2px;
  }

  @include vp-769 {
    background-image: none;
  }
}

.about__text {
  margin-bottom: 40px;

  @include vp-1919 {
    margin-bottom: 0;
  }
}

.about h2 {
  font-family: $font-roboto-condensed;
  color: $color-dark-blue;
  font-size: 36px;
  font-weight: 400;
  line-height: 51px;
  margin: 0;
  margin-bottom: 11px;

  @include vp-1919 {
    margin-bottom: 10px;
  }

  @include vp-769 {
    font-size: 28px;
    line-height: 40px;
  }
}

.about p {
  margin: 0;
  font-family: $font-pt-mono;
  font-size: 16px;
  line-height: 22px;
  color: $color-dark-blue;
  margin-bottom: 20px;

  @include vp-1919 {
    margin-bottom: 18px;
  }

  @include vp-769 {
    margin-bottom: 17px;
    font-size: 14px;
    line-height: 19px;

    span {
      display: none;
    }
  }
}

.about__button {
  width: 180px;
  min-height: 45px;
  border: 1px solid $color-blue;
  background-color: $color-white-light;
  border-radius: 3px;
  padding: 9px 13px 8px 12px;
  cursor: pointer;
  text-transform: uppercase;
  color: $color-blue;
  font-family: $font-roboto-condensed;
  font-weight: 700;
  line-height: 16px;
  font-size: 14px;
  letter-spacing: 1px;

  @include vp-1919 {
    letter-spacing: 1px;
  }

  @include vp-769 {
    width: 160px;
    min-height: 35px;
    padding: 1px 15px 7px;
    letter-spacing: 0.7px;
  }

  &:not(:disabled) {
    @include hover-focus {
      background-color: $color-blue;
      border: 1px solid $color-white-light;
      color: $color-white-light;
    }

    &:active {
      opacity: 0.7;
    }
  }
}
