.form {
  background: $gradient-form;
  background-repeat: no-repeat;
  padding: 165px 0 250px;

  @include vp-1919 {
    padding: 43px 0 125px;
    background: none;
    background-color: $color-blue;
  }

  @include vp-769 {
    padding: 48px 0 87px;
  }

  &--modal {
    background: none;
    padding: 0;
  }
}

.form__container {
  max-width: 1295px;
  display: flex;
  justify-content: space-between;

  @include vp-1919 {
    display: block;
  }
}

.form__image-wrapper {
  align-self: center;
  padding-top: 25px;

  @include vp-1919 {
    display: none;
  }
}

.form__image {
  max-width: 100%;
  height: auto;
  transform: translateX(-15px);
}

.form fieldset {
  border: none;
  margin: 0;
  max-width: 580px;
  padding: 0;

  @include vp-1919 {
    max-width: 100%;
  }

  @include vp-769 {
    width: 100%;
  }
}

.form legend {
  color: $color-default-white;
  font-family: $font-roboto-condensed;
  font-weight: 400;
  font-size: 36px;
  line-height: 51px;
  margin-bottom: 11px;

  @include vp-1919 {
    margin-bottom: 7px;
  }

  @include vp-769 {
    font-size: 30px;
    line-height: 42px;
    margin-bottom: 7px;
  }
}

.form--modal legend {
  font-size: 30px;
  line-height: 42px;
  margin-bottom: 2px;
}

.form p {
  color: $color-default-white;
  font-family: $font-pt-mono;
  line-height: 22px;
  font-size: 16px;
  margin: 0;
  margin-bottom: 35px;

  @include vp-1919 {
    margin-bottom: 23px;
  }

  @include vp-769 {
    font-size: 14px;
    line-height: 19px;
    margin-bottom: 32px;
  }
}

.form__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 30px;
  row-gap: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 27px;

  @include vp-1919 {
    margin-bottom: 27px;
  }

  @include vp-769 {
    grid-template-columns: 1fr;
    margin-bottom: 25px;
    row-gap: 18px;
  }
}

.form--modal .form__list {
  grid-template-columns: 1fr;
  margin-bottom: 18px;
}

.form__item {
  &--question {
    grid-column: 1/-1;
    gap: 0 20px;
  }
}

.form input,
.form textarea {
  background-color: $color-dark-blue-opacity2;
  border: none;
  color: $color-default-white;
  font-family: $font-pt-mono;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  width: 100%;

  &::placeholder {
    color: $color-default-white;
    font-family: $font-pt-mono;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
  }
}

.form input {
  padding: 15px;
}

.form textarea {
  padding: 25px 15px;
  min-height: 155px;

  @include vp-1919 {
    padding: 30px 15px;
  }

  @include vp-769 {
    padding: 25px 15px;
    min-height: 180px;
  }
}

.form__button-wrapper {
  display: flex;
  align-items: center;

  @include vp-1919 {
    justify-content: space-between;
  }

  @include vp-769 {
    flex-direction: column;
    align-items: center;
    row-gap: 25px;
  }
}

.form--modal .form__button-wrapper {
  flex-direction: column;
}

.form__button {
  display: block;
  width: 365px;
  min-height: 45px;
  border: 1px solid $color-dark-blue;
  background-color: $color-dark-blue;
  border-radius: 3px;
  padding: 14px 39px 11px;
  margin-right: 50px;
  color: $color-default-white;
  font-family: $font-roboto-condensed;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;

  @include vp-1919 {
    padding: 16px 25px 7px;
    width: 314px;
    margin-right: 83px;
  }

  @include vp-769 {
    width: 100%;
    align-self: flex-end;
    margin-right: 0;
    padding: 15px 25px 10px;
  }

  @include hover-focus {
    opacity: 0.9;
  }
}

.form--modal .form__button {
  width: 100%;
  margin: 0;
  margin-bottom: 20px;
}

.form__checkbox {
  padding-top: 10px;
  display: flex;
  align-self: flex-end;
  cursor: pointer;
  position: relative;

  @include vp-1919 {
    align-self: center;
    padding-top: 5px;
  }

  @include vp-769 {
    padding-top: 0;
    padding-left: 6px;
  }
}

.form--modal .form__checkbox {
  align-self: flex-start;
  padding-left: 7px;
  padding-top: 0;
}

.form__checkbox-remark {
  color: $color-default-white;
  font-family: $font-pt-mono;
  font-size: 14px;
  line-height: 16px;
  opacity: 0.8;
}

.form__checkbox-mark {
  align-self: center;
  display: block;
  width: 20px;
  height: 15px;
  border: 1px solid $color-default-white;
  margin-right: 8px;
  border-radius: 3px;
  position: relative;
}

.form--modal .form__checkbox-mark {
  margin-right: 11px;
  width: 15px;
}

.form__checkbox input {
  display: none;

  &:checked ~ .form__checkbox-mark::before {
    position: absolute;
    width: 6px;
    height: 1px;
    content: "";
    background-color: $color-default-white;
    top: 6.5px;
    left: 3.5px;
    transform: rotate(-45deg);
  }

  &:checked ~ .form__checkbox-mark::after {
    position: absolute;
    width: 3px;
    height: 1px;
    content: "";
    background-color: $color-default-white;
    transform: rotate(-135deg);
    top: 7px;
    left: 2px;
  }
}

.form__checkbox .input-message {
  position: absolute;
  top: 100%;
}

.is-invalid {
  color: $color-dark-blue;
  font-family: $font-pt-mono;
  font-size: 14px;
}
