.page-footer {
  padding: 50px 0 35px;
  background-color: $color-dark-blue;

  @include vp-1919 {
    padding: 0;
  }
}

.page-footer__container {
  display: flex;
  max-width: 1320px;
  column-gap: 13%;

  @include vp-1919 {
    padding: 50px;
    padding-right: 45px;
    padding-bottom: 27px;
    flex-direction: column;
  }

  @include vp-769 {
    padding: 0;
    padding-bottom: 35px;
  }
}

.page-footer__social {
  width: 215px;

  @include vp-1919 {
    margin-right: 0;
    width: 100%;
    margin-bottom: 28px;
  }

  @include vp-769 {
    padding-top: 35px;
    padding-bottom: 24px;
    margin: 0;
    border-bottom: 1px solid $color-white-opacity-additional;
  }
}

.page-footer__wrapper {
  display: flex;
  column-gap: 30px;
  padding-top: 2px;

  @include vp-1919 {
    justify-content: space-between;
  }

  @include vp-769 {
    flex-direction: column;
  }
}

.page-footer__nav {
  max-width: 470px;

  @include vp-1919 {
    padding-top: 0;
    margin-right: 0;
    width: 220px;
  }

  @include vp-769 {
    margin: 0;
    width: 100%;
    max-width: 100%;
    border-bottom: 1px solid $color-white-opacity-additional;
    padding: 0;
  }
}

.page-footer__nav-item {
  max-width: 220px;
  margin-bottom: 5px;

  @include vp-1919 {
    margin-bottom: 5px;
    max-width: 50%;
  }

  @include vp-769 {
    margin-bottom: 10px;
  }
}

.page-footer__nav-list,
.page-footer__contacts-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.page-footer__nav-list {
  column-width: 220px;
  column-count: 2;
  column-gap: 30px;

  &::after {
    content: "";
    display: block;
    height: 2em;
  }

  @include vp-1919 {
    width: 470px;
    column-count: 1;
    flex-direction: column;
    column-gap: 0;
    row-gap: 5px;
  }

  @include vp-769 {
    padding: 0 26px 0 25px;
    max-height: max-content;
  }
}

.page-footer__contacts {
  max-width: 345px;

  @include vp-1919 {
    padding-left: 21px;
  }

  @include vp-769 {
    width: 100%;
    max-width: 100%;
    padding: 0;
    border-bottom: 1px solid $color-white-opacity-additional;
  }
}

.page-footer__contacts-list {
  @include vp-769 {
    padding: 0 26px 0 25px;
    max-height: none;
  }
}

.page-footer__contacts-item {
  margin-bottom: 7px;

  &:last-child {
    margin-bottom: 15px;
  }
}

.page-footer__button {
  border: none;
  background-color: inherit;
  padding: 0;
  text-align: left;
  color: $color-default-white;
  font-family: $font-roboto-condensed;
  font-weight: 400;
  margin: 0;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 0.2px;

  @include vp-1919 {
    letter-spacing: 0.7px;
    font-size: 15px;
    line-height: 16px;
    margin-bottom: 24px;
  }

  @include vp-769 {
    margin-bottom: 0;
    width: 100%;
    padding: 23px 26px 19px 25px;
  }
}

.page-footer__contacts-item address {
  cursor: pointer;

  @include vp-769 {
    padding-bottom: 5px;
  }
}

.page-footer__nav-item a,
.page-footer__contacts-item a,
.page-footer__contacts-item address {
  font-family: $font-pt-mono;
  font-style: normal;
  color: $color-white-opacity;
  line-height: 22px;

  @include vp-769 {
    font-size: 14px;
    line-height: 19px;
  }

  @include hover-focus {
    color: $color-white;
  }

  &:active {
    color: $color-white;
    opacity: 0.9;
  }
}
