// Colors
// ---------------------------------

// Default

$color-default-black:               #000000;
$color-default-white:               #ffffff;
$color-white:                       #f2f5f6;
$color-blue:                        #00b2ff;
$color-dark-blue:                   #041827;
$color-white-light:                 #f8fdff;
$color-grey:                        #EBEBEB;
$color-white-opacity:               rgba(255, 255, 255, 0.7);
$color-white-opacity-additional:    rgba(248, 253, 255, 0.7);

//$color-transparent:                 rgba(255, 255, 255, 0);


// Gradient
//$gradient-header:                   linear-gradient(180deg, $color-dark-blue 80.9%, transparent 100%);
$gradient-header:                   linear-gradient(180deg, $color-dark-blue 84.9%, transparent 100%);
$gradient-promo:                    linear-gradient(180deg, rgba(#192024, 0.7) 71.72%, transparent 100%);

// Typography
// ---------------------------------

// Fonts

$font-roboto-condensed: "Roboto Condensed", "Arial", sans-serif;
$font-pt-mono: "PT Mono", "Times New Roman", serif;

// переменная используемая в html для подключения скейлинга
$fz-default:                        16px;

// Animation
// ---------------------------------

$tf-default:                        ease;
$trans-default:                     0.3s $tf-default;

// если требуется изинг отличный от $tf-default, то переменную называем не цифрой
$trans-modal:                       0.6s cubic-bezier(0.55, 0, 0.1, 1);

$trans-600:                         0.6s $tf-default;

// Viewports
// ---------------------------------

/*$mobile-width:                            320px;
$tablet-width:                            770px;
$desktop-width:                           1920px;*/

$mobile-width:                            320px;
$tablet-width:                            767px;
$desktop-width:                           1024px;

// Retina
// ---------------------------------

$retina-dpi:                        144dpi;
$retina-dppx:                       1.5dppx;
